body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
   
}

html{
    scroll-behavior: smooth;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
    background-color: rgb(2,3,129);
    color:white;
    height:3vh;
    position: fixed;
    width: 100%;
    z-index: 1;
}

header img{

    width: 100px;
    height: auto    ;
    

}

header nav{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3%;
}

header nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

header ul li{
    display: flex;
    list-style: none;
    padding: 8px 12px;
}

header ul li a{
    text-decoration: none;
    font-size: 19px;
    color: white;
}

header nav label{
    display:none;
}


/* Media queries for header */

@media(max-width:769px){

    .home{
        width:100%;
    }
    header{
        
        display: flex;
        align-items: center;
        justify-content: space-around;
        transition: 2s ease-in-out;
    }

    header nav{
        display:flex;
        align-items: center;
        justify-content: center;
        margin:0;
        height: 200vh;
        width: 50%;
        padding: 0;
        transition: 2s ease-in-out;

        
    
    }

    header nav ul{
        display:hidden;
        background-color: rgb(2,3,129);
        flex-direction: column;
        position: relative;
        top: 8%;
        width: 100%;
        align-items: center;
        justify-content: center;
        padding: 2%;
        transition: 2s ease;
    }

    header nav label {
        display: block;
        font-size: 30px;
        cursor: pointer;
        margin-right:0px;
        transition: 5s ease-in-out;

    }

    

}

.apply-as-mentor{
    background-color: #D00D2D;
}




.home{
    position: relative;
    top: 40px;
    bottom: 20px;
    height: 100vh;
    width: 100%;
    text-align: center;
    background: url("https://assets-global.website-files.com/5ce11396d0cadb67eb2cac0e/63d7f1fa52386df009e2b78f_Black%20mentoring%20programs%20(1).png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    background-color:black;
    opacity:2;
    transition: 10s;
    animation-name:animate;
    animation-duration: 38s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
   

}


@keyframes animate{
    0%{
        background: url("https://assets-global.website-files.com/5ce11396d0cadb67eb2cac0e/63d7f1fa52386df009e2b78f_Black%20mentoring%20programs%20(1).png");
        background-size: cover;
        background-repeat: no-repeat;
    }
    20%{
        background:url(https://winningfutures.org/images/Mentor-African-American-Boys.jpg) ;
        background-size: cover;
        background-repeat: no-repeat;
        
    }

    40%{
        background:url(https://ughe.org/wp-content/uploads/2020/09/MENTEES.jpg) ;
        background-size: cover;
        background-repeat: no-repeat;
        
    }

    60%{
        background:url(https://communityyouthadvance.org/wp-content/uploads/2020/02/4D84D58F-F448-4EC6-81A2-AAD2A358643C.jpeg) ;
        background-size: cover;
        background-repeat: no-repeat;
        
    }

    80%{
        background:url(https://www.ualberta.ca/nursing/media-library/research/health-immigration/istock-511652302.jpg) ;
        background-size: cover;
        background-repeat: no-repeat;
        
    }

    100%{
        background:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_lpqO3AULkZmhMUCDX1Gyvdaqas5luegFoA&usqp=CAU) ;

        background-size: cover;
        background-repeat: no-repeat;
        
    }

    
}


.container{
    width: 100%;
    position: relative;
    top: 0%;
    left: 0%;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.75);
    height: 100vh;
    
}
.container {
    width:100%;
    margin: auto;
    padding: 20px 0;
}

.welcome{
    position: relative;
    top: 30%;
    color: white;
    left: 10%;
    width:40%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2%;
    
}

.welcome p{
    line-height:30px;
    font-weight: 500;
}

/* media Queries header and home */

@media (max-width: 769px){
    header{
        position:f;
        
    }

    .home{

        margin: 0;
        position: relative;
        top: 0;
        margin-bottom: 12px;
    }
}

.mentors {

    margin-top: 10%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mentor-container{

    display: flex;
    width:auto;
    align-items: center;
    justify-content: center;

}



.mentor-info {
    border: 1px solid #ccc;
    padding: 10px;
}

.mentor-container .one-class{
    width:250px;
    height:auto;

    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
    border-radius: 7px;
    background:  rgb(2,3,129);
    text-align: center;
    color: white;
    gap: 20px;
    padding-bottom: 10px;
    margin: 0 2%;
 
  

}
.image{
    width: 100%;
    height: 155px;
    overflow: hidden;
    border-radius: 5px;
}
.img{
    overflow: hidden;
}
.img img{
    width: 250px;
    height: 200px;
    object-fit: cover;
    transition: .3s;
}
.img img:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.one-class h3 {
    padding: 2%;
    margin: 2%;
    height: 20px;
    text-align: left;
    color:white;
    line-height: 15px;
 
    margin: 10px;
}
.one-class p {
    padding: 2% ;
    height:auto;
    font-size: 16px;
    color: white;
    text-align: left;
    margin: 10px;
}
.one-class button{
    margin: 0px;
    align-items: left;
    background:#D00D2D;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    padding-bottom: 4px;
    border: 5px;
 

}



.btn:hover {
    background-color: #0056b3;
}

.image-icon{
    width: 100%;
    height: 100px;
    border-radius: 5px;
}
.experience{
 background-color: #D00D2D;
 border-radius: 5px;
}


/* Media Queries */
@media(max-width:769px){

    

    .mentor-container{

        display: flex;
        flex-direction: column;
        align-items: center;

    
    
    }



   .mentors{

    position: relative;
    top: 100%; 
    height: 200vh;  
    
   }

 .img img{
    height:50%;

 }

.mentor-container .one-class{
    margin-top: 5%;
}

}


/* /*about us css */
#about {
    background-color: #f8f8f8;
    padding: 80px 0;
    display: flex;
    align-items: center;
    flex-direction: column;    
}

.container-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



.member {
    text-align: center;
    margin: 20px;
}

.member img {
    border-radius: 20%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 3px solid #fff; /* Optional: Add a border around the image */
}

.member h3 {
    margin: 10px 0;
    font-size: 1.5em;
    color: #333;
}

.member p {
    color: #666;
}

/* Optional hover effect for a subtle interaction */
.member:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

/* apply section */
#apply{

    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

#apply .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color:#f8f8f8;
    width: 100%;
}

#apply form input,
#apply form textarea,
#apply form button {
    
    display:block;
    background:transparent;
    color: white;
    width:500px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}

#apply form button {
    background-color:rgb(2,3,129);
    color: #fff;
    cursor: pointer;
    width: 50%;
    margin: 10px auto;
}

/* button hover */
#apply button:hover{
    background-color: #D00D2D;
}

/* media Queries for Apply form  and about*/

@media(max-width:769px){

    #about{
    height: 250vh;
}


    #apply{
        background-color:#f8f8f8;
        height: 100vh;
        position: relative;
        top: 50%;

    }



#apply form input,
#apply form textarea,
#apply form button {
    
    display:block;
    background:transparent;
    color: white;
    width:100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;


}

#apply form button {
    background-color:rgb(2,3,129);
    color: #fff;
    cursor: pointer;
    width: 50%;
}

}




/* Apply as a mentor */
/* footer */

footer{
    padding: 20px;
    background: rgb(2,3,129);
    height: 10vh;
    overflow: hidden;
}

footer span{
    display: block;
    margin: 40px 35%;
    color: white;
    font-size: 18px;
}